<script>
    $(document).ready(function () {
        $("#btnLogin").click(function () {

            var oldpassword = $("#oldpassword").val();
            var newPassword = $("#newpassword").val();
            var reNewpassword= $("#reNewpassword").val();
            var uApp = new userApp();
            uApp.init();
            var isValid = uApp.resetPassword(oldpassword, newPassword);
            //alert(isValid);
            if (isValid) {
                //sessionStorage.loggedUsername = username;
                $("#maincontent").load("App/Partials/userhome.html");
            } else {
                $("#spnErrorMessage").html("Invalid Credentials !!");
            }
        });
    });
</script>
<div>
    <form id="loginForm" name="loginForm">
        <div>
            <h4>Reset your password</h4>
        </div>
        <div>
            <label for="oldpassword">Old Password:</label>&nbsp;
            <input type="password" id="oldpassword" name="oldpassword"/>
        </div>
        <div>
            <label for="newpassword">New Password:</label>&nbsp;
            <input type="password" id="newpassword" name="newpassword"/>
        </div>
        <div>
            <label for="reNewpassword">Confirm Password:</label>
            <input type="password" id="reNewpassword" name="reNewpassword"/>
        </div>
        <div>
            <button type="button" id="btnLogin">Reset Password</button>
        </div>
        <div>
            <span id="spnErrorMessage"></span>
        </div>
    </form>
</div>